* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    min-height: 100vh;
}
.page{
    min-height: 80vh;
}

.my-custom-scrollbar {
    position: relative;
    height: 65vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

